.Home .blog-preview {
  padding: 10px 16px;
  margin: 20px, 0;
  border-bottom: 1px solid #fafafa;
}
.Home .blog-preview a {
  text-decoration: none;
}

.Home .blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.Home .blog-preview h2 {
  font-size: 20px;
  color: cornflowerblue;
  margin-bottom: 8px;
}
