.Navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.Navbar h1 {
  color: cornflowerblue;
}
.Navbar .links {
  margin-left: auto;
}
.Navbar a {
  text-decoration: none;
  margin-left: 16px;
  padding: 6px;
}
.Navbar a:hover {
  color: cornflowerblue;
}
